<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jockeyclub.printer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JockeyClubPrinter</name>
    <description>
        Jockey Club Printer.
    </description>
    <author email="samuel.kindler@i-cgx.com" href="http://icgx.asia">
        ICGX
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
</widget>