* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased; }

body {
	background: #FFFFFF;
	font-family: "Lato", Helvetica, Arial, sans-serif; }

.invisible {
	opacity: 0 !important;
	display: none !important;
	content: "" !important; }

.cf {
	display: block;
	clear: both;
	content: ""; }

#loading {
	z-index: 30;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75); }

#loading #loading-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: loading 1s ease-out;
    -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes loading {
    0% { -webkit-transform: scale(.1); opacity: 0; }
    50% { opacity: 1; }
    100% { -webkit0transform: scale(1); opacity: 0; } }

#loading.invisible #loading-loader {
	-webkit-animation-play-state: paused !important; }

#loading #loading-refresh {
	opacity: .5;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 25px;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	text-decoration: underline; }

#overlay {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8); }

#overlay #overlay-wrapper {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -350px;
	width: 600px;
	height: 700px;
	background: #FFFFFF; }

#overlay #overlay-image {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 550px;
	height: 550px;
	background: center center no-repeat #DDDDDD;
	background-size: contain; }

#overlay #overlay-text {
	position: absolute;
	bottom: 90px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 16px; }

#overlay #overlay-text span {
	font-weight: bold; }

#overlay .overlay-button {
	overflow: hidden;
	position: absolute;
	display: table;
	width: 250px;
	height: 50px;
	bottom: 25px;
	border-radius: 10px; }

#overlay #overlay-confirm.overlay-button {
	left: 25px;
	background-color: #2ECC40; }

#overlay #overlay-cancel.overlay-button {
	right: 25px;
	background-color: #FF4136; }

#overlay .overlay-button .button-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	font-size: 32px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center; }

#overlay #overlay-cover {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

#topbar {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	border-bottom: 5px solid #CCCCCC; }

#topbar #topbar-search {
	width: calc(100% - 250px);
	height: 55px;
	position: absolute;
	left: 10px;
	top: 10px;
	padding-left: 50px;
	font-size: 32px;
	color: #111111;
	border: 2px solid #CCCCCC;
	background: url("../img/topbar_search.svg") 10px center no-repeat transparent; }

#topbar #topbar-tools {
	position: absolute;
	top: 10px;
	right: 10px;
	list-style: none; }

#topbar #topbar-tools li {
	float: left;
	margin-right: 10px;
	width: 55px;
	height: 55px;
	border: 2px solid #CCCCCC;
	background: center center no-repeat transparent; }

#topbar #topbar-tools li:last-child {
	margin-right: 0; }

#topbar #topbar-tools #topbar-previous {
	background-image: url("../img/topbar_tools_previous.svg"); }

#topbar #topbar-tools #topbar-next {
	background-image: url("../img/topbar_tools_next.svg"); }

#topbar #topbar-tools #topbar-refresh {
	background-image: url("../img/topbar_tools_refresh.svg"); }

#feed {
	z-index: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 80px);
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #FFFFFF; }

#feed #feed-list {
	list-style: none; }

#feed #feed-list li {
	position: relative;
	float: left;
	width: 25%;
	height: 25vw;
	background: center center no-repeat transparent;
	background-size: cover; }

#feed #feed-list li span {
	opacity: .75;
	position: absolute;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	background: center center no-repeat transparent; }

#feed #feed-list li.facebook span {
	background-image: url("../img/feed_facebook.svg"); }

#feed #feed-list li.twitter span {
	background-image: url("../img/feed_twitter.svg"); } 

#feed #feed-list li.instagram span {
	background-image: url("../img/feed_instagram.svg"); } 